*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

#map {
    height: 300px;
    width: 100%;
    z-index: 1;
}

video {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
}

#photoPreview {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
    background-color: #212529;
}
